.navbar__container {
  width: 80rem;
  height: 5rem;
  display: flex;
  align-items: center;
  background-color: #ebf2fa;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0 20px 0 20px;
  border-radius: 15px;
}

.navbar__title {
  font-size: 20px;
  color: #427aa1;
}

.navbar__groub {
  display: flex;
  gap: 20px;
  list-style: none;
}

.navbar__link {
  color: #427aa1;
  text-decoration: none;
  position: relative;
}

.navbar__link::after {
  content: "";
  position: absolute;
  width: 100%;
  background-color: #427aa1;
  height: 1px;
  transform: scaleX(0);
  bottom: 0;
  left: 0;
  transition: transform 0.25s ease-out;
}

.navbar__link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

.navbar__link:hover {
  color: #064789;
}
