.navbar__container {
  width: 80rem;
  height: 5rem;
  display: flex;
  align-items: center;
  background-color: #ebf2fa;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0 20px 0 20px;
  border-radius: 15px;
}

.navbar__title {
  font-size: 20px;
  color: #427aa1;
}

.navbar__groub {
  display: flex;
  gap: 20px;
  list-style: none;
}

.navbar__link a {
  color: #427aa1;
  text-decoration: none;
}

.navbar__link.center a::after {
  
  transform-origin: bottom center;
}

.navbar__link.center a::after:hover {
  color: #064789;
  transform-origin: bottom center;
}

